@using StudentRegistrationSystem.Models;
@using StudentRegistrationSystem.DBModels;
@model List<SelectedCourse>
@{
    Layout = null;
    int i = 1;
}
<div class="panel panel-default" style="width:900px;">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-weight:bolder">
            当前已选课程
        </h3>
    </div>
    <div class="panel-body">
        <table class="table">
            @if (Model!= null)
            {
                <tr>
                    <th>#</th>
                    <th>课号</th>
                    <th>课名</th>
                    <th>学分</th>
                    <th>所属专业</th>
                    <th>教师姓名</th>
                    <th>上课时间</th>
                    <th></th>
                </tr>
                foreach (var  u in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td id="drop-cno">@u.CNO</td>
                        <td id="drop-cname">@u.CNAME</td>
                        <td id="drop-credit">@u.CREDIT</td>
                        <td id="drop-cdept">@u.CDEPT</td>
                        <td id="drop-tname">@u.TNAME</td>
                        <td id="drop-time">@u.TIME</td>
                        <td><button class="btn btn-primary" id="drop-makesure">退课</button></td>
                    </tr>
                        i++;
                }
            }
        </table>
    </div>
</div>
