@using StudentRegistrationSystem.Models;
@model List<SearchResult>
@*@model <String>*@
@*@model List<Grade>*@
@{
    Layout = null;
    int i = 1;
    double sum = 0;
}
<div class="panel panel-default" style="width:700px;">
    <div class="panel-heading">
        <h2 class="panel-title" style="font-weight:bolder">
            课程成绩
        </h2>
    </div>
    <div class="panel-body">
        <table class="table">
            @if (Model!=null)
            {
                 <tr>
                    <th>#</th>
                    <th>课号</th>
                    <th>课名</th>
                    <th>学分</th>
                    <th>分数</th>
                    <th>绩点</th>
                </tr>
                foreach (var u in Model)
                {
                     <tr>
                        <td>@i</td>
                        <td>@u.CNO</td>
                        <td>@u.CNAME</td>
                        <td>@u.CREDIT</td>
                        <td>@u.GRADE</td>
                        <td>@u.GPA.ToString("0.0")</td>
                    </tr>
                    i++;
                    sum = sum + @u.GPA;
                }
                sum = sum / Model.Count();
            }
           
        </table>
        <div style="font-weight:bolder">平均绩点：@(sum.ToString("0.00"))</div>
    </div>
</div>
