@using StudentRegistrationSystem.Models;
@model List<SelectCourse>
@{
    Layout = null;
    int i = 1;
}

@*<div id="makesure-div-submit">*@
    <table class="table">
        @if (Model != null)
        {
            <tr>
                <th>#</th>
                <th>课号</th>
                <th>课名</th>
                <th>学分</th>
                <th>所属专业</th>
                <th>教师姓名</th>
                <th>上课时间</th>
                <th></th>
            </tr>
            foreach (SelectCourse u in Model)
            {
                <tr>
                    <td>@i</td>
                    <td id="student-cno">@u.CNO.Replace(" ", "")</td>
                    <td id="student-cname">@u.CNAME.Replace(" ", "")</td>
                    <td id="student-credit">@u.CREDIT</td>
                    <td id="student-cdept">@u.CDEPT.Replace(" ", "")</td>
                    <td id="student-tname">@u.TNAME.Replace(" ", "")</td>
                    <td id="student-time">@u.TIME.Replace(" ", "")</td>
                    <td><button class="btn btn-primary" id="makesure-button-submit">确定</button></td>
                </tr>
                i++;
            }
        }
    </table>
@*</div>*@




