@using StudentRegistrationSystem.Models;
@*@model List<SelectCourse>*@
@model List<RowColKey>
@{
    Layout = null;
    int k = 0;
    int n = 0;
}

<div class="panel panel-default" style="width:900px;">
    <div class="panel-heading">
        <h2 class="panel-title" style="font-weight:bolder">
            课程表
        </h2>
        <h6>
            第一节课：08:00-08:45    第二节课：08:55-09:40    第三节课：10:00-10:45    第四节课：10:55-11:40
            第五节课：12:10-12:55    第六节课：13:05-13:50    <br>第七节课：14:10-14:55    第八节课：15:05-15:50
            第九节课：16:00-16:45    第十节课：16:55-17:40   第十一节：18:00-18:45    第十二节：18:55-19:40
            <br />第十三节：19:50-20:35
        </h6>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" style="table-layout:fixed;word-break:break-all;">
            @if (Model != null)
            {
                <tr>
                    <th>#</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                    <th>星期六</th>
                    <th>星期日</th>
                </tr>
                 for (int i = 0; i < 13; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    @for (int m = 0; m < 7; m++)
                    {
                        for (int j = 0; j < Model.Count(); j++)
                        {
                            if (Model[j].Row == i)
                            {
                                if (Model[j].Col == m)
                                {
                                    n=1;
                                    <td>@Model[j].Key</td>
                                }
                            }
                        }
                        if(n==0){
                            <td></td>
                        }
                        n=0;
                    }
                </tr>
            }
            }
        </table>
    </div>
</div>
 @*for (int i = 1; i <= 13; i++)
                {
                    k = 0;
                    for (int j = 0; j < Model.Count(); j++)
                    {
                        if (Convert.ToInt32(Model[j].TIME) == i)
                        {
                            switch (Model[j].WEEK)
                            {
                                case "一":
<tr>
    <td>@i</td>
    <td>@Model[j].CNAME</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
                                    break;
                                case "二":
<tr>
    <td>@i</td>
    <td></td>
    <td>@Model[j].CNAME</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
                                    break;
                                case "三":
<tr>
    <td>@i</td>
    <td></td>
    <td></td>
    <td>@Model[j].CNAME</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
                                    break;
                                case "四":
<tr>
    <td>@i</td>
    <td></td>
    <td></td>
    <td></td>
    <td>@Model[j].CNAME</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
                                    break;
                                case "五":
<tr>
    <td>@i</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>@Model[j].CNAME</td>
    <td></td>
    <td></td>
</tr>
                                    break;
                            }
                            k = 1;
                        }
                    }
                    if (k == 0)
                    {
<tr>
    <td>@i</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
                    }
                }
            }*@