@using StudentRegistrationSystem.Models;
@model List<BasicInfo>
@{
    Layout = null;
    int i = 0;
}
<table class="table table-bordered" style="table-layout:fixed;word-break:break-all;" id="table">
    @if (Model != null)
    {
        <tr>
            <th>序号</th>
            <th>学号</th>
            <th>姓名</th>
            <th>成绩</th>
            <th>序号</th>
            <th>学号</th>
            <th>姓名</th>
            <th>成绩</th>
        </tr>
        foreach (var u in Model)
        {
            i++;
            int k = i + 20;
            <tr>
                <td>@i</td>
                <td id="studentgradeid">@u.ID</td>
                <td id="studentgradename">@u.NAME</td>
                <td id="gradeofstudent">
                    <input type="text" name="name" style="width:130px;height:26px;padding:0;margin:0;" class="form-control" />  
                    @*将学生成绩添加进去*@
                </td>
                <td>@k</td>
                <td id="studentgradeid"></td>
                <td id="studentgradename"></td>
                <td id="gradeofstudent">
                </td>
            </tr>
        }
        for (int j = i + 1; j < 21; j++)
        {
            int k = j + 20;
            <tr>
                <td>@j</td>
                <td id="studentgradeid"></td>
                <td id="studentgradename"></td>
                <td id="gradeofstudent"></td>
                <td>@k</td>
                <td id="studentgradeid"></td>
                <td id="studentgradename"></td>
                <td id="gradeofstudent"></td>
            </tr>
        }
    }
</table>